.cor1 {
    color: #252525;
}
.cor2 {
    color: #303030;
}
.cor3 {
    color: #414141;
}
.cor4 {
    color: #Af0404;
}
.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}